.timer {
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}

.body {
  background-color: aqua;
  border: double;
.gameOver {
  font-size: 45px;
  font-family: fantasy;
  text-align: center;
}

.highScore {
  text-align: center;
}

.questionAndAnswer {
}

.titlePage {
}

.visible {
  display: visible;
}
.hidden {
  display: none;
}

.initials {
  background-color: #333333;
  border: double;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  position: absolute;
  left: 47rem;
  top: 12rem;
}

.button:hover {
  background-color: #b11010;
}
.button:active {
  background-color: #b11010;
  box-shadow: 0 5px gray;
  transform: translateY(2px);
}
.button {
  background-color: #b11010;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 55rem;
  top: 20rem;
}

.h1 {
  text-align: center;
  font-size: 5rem;
}

.p {
  text-align: center;
  font-style: Garamond;
  font-size: 3rem;
}

.buttonA {
  background-color: #b11010;
  border-style: groove;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.buttonB {
  background-color: #b11010;
  border-style: groove;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
}
.buttonC {
  background-color: #b11010;
  border-style: groove;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
}
.buttonD {
  background-color: #b11010;
  border-style: groove;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
}
